<section class="vh-100">
  <div class="container py-5 h-100 w-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="assets/images/names.gif" class="img-fluid" alt="books image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="form" (ngSubmit)="getSignIn(form.value)" >
          <h1>Sign In</h1>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" class="form-control form-control-lg" placeholder="Enter email address"
              formControlName="emailId" />
            <div *ngIf="form.get('emailId').errors && (form.get('emailId').dirty || form.get('emailId').touched)"
              class="text-danger">
              <small *ngIf="form.get('emailId').errors.required">Email is required</small>
            </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" class="form-control form-control-lg" placeholder="Enter password"
                formControlName="password" />
              <div *ngIf="form.get('password').errors && (form.get('password').dirty || form.get('password').touched)"
                class="text-danger">
                <small *ngIf="form.get('password').errors.required">Password is required</small>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="form.invalid" >Sign in</button>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>

            <div class="d-grid mb-4">
              <div class="d-flex py-2 ">
                <h4 >Don't have an account??</h4>
                <button type="submit" class="btn btn-primary btn-lg btn-block mx-5 " routerLink="/signup">Sign Up</button>
              </div>
              <div class="mb-4">
              <button type="submit" class="btn btn-dark btn-lg btn-block " routerLink="">Home</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>