<div class="card-header"></div>
<div class="card-body">
    <h4>Books</h4> 
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Bookname</th>
                    <th>Author</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td><button class="btn btn-primary" (click)="updateBook()" >Update</button></td>
                    <td><button class="btn btn-primary" (click)="deleteBook()" >Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

