<div class="card-header"></div>
<div class="card-body">
    <h4>Books</h4> 
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Bookname</th>
                    <th>Author</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of form" >
                    <td><img src="{{i.image}}" alt="image" [style.width.px]="imagewidth" [style.margin.px]="imagemargin"></td>
                    <td>{{i.bookName}}</td>
                    <td>{{i.authorName}}</td>
                    <td>{{i.description}}</td>
                    <td><button class="btn btn-primary" (click)="updateBook(i)" >Update</button></td>
                    <td><button class="btn btn-primary" (click)="deleteBook(i)" >Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

