
<div class="container-fluid">
  <div class="heading">
    <p>Welcome to LIBRARY</p>
    <h1><i>Enjoy Reading...</i></h1>
    <div class="container col-md-2 d-flex gap-2 justify-content-center">
      <a routerLink="/login"> <button type="button" class="btn btn-outline-info btn-lg" >LOGIN</button></a>
      <a routerLink="/signup"><button type="button" class="btn btn-outline-info btn-lg">SIGNUP</button></a>
    </div>
  </div>
  <div class="bookowl">
    <img src="/assets/images/bookowl.gif">
  </div>
  <div class="buttons">
  </div>
</div>

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Library application v.0</p>
					<p class="h6">© All right Reversed.</p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
